@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular);
p , h2, h4 {
	margin: 0;
}
a{
	text-decoration: none;
	color: black;
	width: fit-content;
	height: fit-content;
}
h3	{
	margin: 5px 0;
}
h2	{
	margin: 10px 0;
	position: relative;
}

h2::after {
	content: '';
	height: 1px;
	width: 100%;
	position: absolute;
	background-color:#9460da;
	bottom: -5px;
	left: 0;
}

body{
	background: linear-gradient(to right, #ccd1dd, #bfceeb);
	font-family: Ubuntu;
	font-weight: 400;
	display: flex;
	margin: 0 auto;
	width: 100vw;
	padding: 10px;
	justify-content: flex-start;
	column-gap: 20px;
}
table{
	width: 20%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
td, th {
	background-color: white;
	border: 1px solid #65007e;
	text-align: center;
	padding: 2px 5px;
	height: 20px;
	font-size: 14px;
}
table th {
	background: #9460da; 
	color: #fff; 
	font-weight: normal;
	font-size: 14px;
}

span {
	font-size: 20px;
	color: #9460da;
}

input {
	margin: 5px 10px ;
	height: 21px;
	padding: 5px;
	outline: none;
	border: 0.5px solid #9460da;
}
button {
	font-family: Ubuntu;
	margin: 5px 0;
	padding: 5px 10px;
	height: 35px;
	cursor: pointer;
	background-color: #9460da;
	border: none;
	color: white;
	transition: box-shadow .2s ease-in-out;
}
button:hover{
	box-shadow: 2px 2px 5px #9460da;
}

form {
	display: flex;
	align-items: center;
}

.sec-info-block {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.question {
	text-align: left;
}

.second-table{
	width: 800px;
}

.second-page {
	align-items: flex-start;
}

.summary {
	padding: 10px 0;
}

